 @import url('https://fonts.googleapis.com/css2?family=Handlee&family=Nunito:wght@200;400&family=Poppins:wght@400;700&family=Roboto+Condensed&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Handlee&family=Nunito:wght@200;400&family=Poppins:wght@400;700&family=Roboto&family=Roboto+Condensed&display=swap');

*{ margin: 0;
  padding: 0;
  box-sizing:border-box;
  
 }
main{
	width:100%;
}
h1,h2,h3,h4,h5,h6{
	font-family:font-family: 'Roboto Condensed', sans-serif;
}
p,a{
	font-family: 'Roboto', sans-serif;
	text-decoration:none;
}
            /*-----------------header start-----------*/
header{
	width:100%;
}		
.navigation{
	width:90%;
	margin:auto;
	overflow:auto;
	border-bottom:1px solid #DCE0E4;
	padding:10px 0px;
	
}
.contact{
	width:50%;
	float:left;
padding:0px 16px 0px 0px;
}
.contact2{
	color:#848E9F;
	font:16px;
	
}
.contact1{
	color:#848E9F;
	font:16px;
	
}
.contact span{
	color:#848E9F;
}
.nav{
	width:49%;
	float:right;
	
	text-align:right;	
	
	
}
.nav a{
	padding:10px;
	color:#848E9F;
	
}

.navigation2{
	width:90%;
	margin:auto;
	
	clear:both;
	overflow:auto;
}
.nav1{
	width:50%;
	font-size:20px;
	padding:28px 0px;
	background:#FFFFFF;
	float:left;
	
}
.nav1 a{
	color:#13C5DD;
}
.nav2{
	
	width:50%;
	background:#FFFFFF ;
    float:left;
	
	
}
.nav2 ul{
	
	list-style:none;
	color:#fff;
	text-align:right;
	text-align:center;
	margin:22px 10px;
	
}
.nav2 ul li{
display:inline-block;
padding:20px 0px;

	
}
.nav2 ul li a{
	text-decoration:none;
	color: rgb(29,42,77) ;
	text-align:right;
	padding:20px 10px;
	font-weight:bold !important;
	
}
.active, .nav2 ul li:hover{
	background:#13C5DD;
	border-radius:3px;
}
.sub-menu{
	display:none;
}
.nav2 ul li:hover .sub-menu{
	display:block;
	position:absolute;
	background:#fff;
	margin-top:15px;
	margin-left:-15px;
}
.nav2 ul li:hover.sub-menu ul{
	display:block;
	margin:5px;
	
}
.nav2 ul li:hover.sub-menu ul li{
	width:50px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
	
}
.nav2 ul li:hover.sub-menu ul li:last-child{
	border-bottom:none;
}
.nav2 ul li:hover.sub-menu ul li a:hover{
	color:#13C5DD;
}

 /*-----------------header end-----------*/
 
 .section-healthcare{
	width:100%;
   background-image:url(../images/hero.jpg) ;	
   clear:both;
   background-repeat:no-repeat;
   background-size:cover;
   
 }
 .healthcare{
	 width:65%;
	  padding:96px 0px;
 }
 .healthcare1 h5{
	 font-size:20px;
	 margin-left:5%;
	display:inline-block;
	margin-top:10%;
	color:#13C5DD;
	border-bottom: 5px solid #84909E!important;
	
	
	
 }

  .healthcare1 h1{
	 font-size:80px;
	padding:5% 0%;
	 color:#fff;
	  margin-left:5%;
	

	
 }
 .btn2{
    padding: 16px 48px;
    margin:0 8px ;
    font-size: 16px;    
    font-weight: 700;   
    border-radius: 25px;    
    transition: .5s;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: move;
 }
 .btn{
	    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
 }
 /*-----------About start-----------*/ 
.about_Container{
height:400px ;
padding:5% 10% ;


}

.about_Img{
float:left ;
width:29% ;
margin-top: 50px;


}
.about_IP{
border-radius:2% ;
min-height: 450px;
object-fit: cover;


}
.about_text{
width:60% ;
float: left;
margin-left: 100px;


}

.about_text h5{
color: #13c5dd !important;
font-size: 20px;
border-width: 5px!important;
border-bottom: 5px solid #dee2e6!important;
font-family:'Roboto ', sans-serif;
 display:inline-block;
 margin-top:7%;
}
.about_text h1{
color: #1d2a4d !important;
font-size:56px ;
font-family:'Roboto Condensed', sans-serif;
 margin-bottom:5%;
}
.about_text p{
color:#848E9F  ;
font-size:16px ;
font-family:'Roboto ', sans-serif;
 margin-bottom:5%;


}
.about_servivce{
float: left;
display:flex ;
width:50% ;
margin-left: 100px;


}
.about_service_text{
overflow:auto ;
clear: both;
padding:20px 50px ;
margin:0 10px ;
border-radius: 50%;
background-color: #EFF5F9!important;
text-align: center;
}
.about_icon{

color: #13C5DD!important;
font-size: 48px;
line-height: 1;
}
.SI_text{
font-size: 16px;
margin:5px 5px ;
}

.SI_text_doc{
color: #13C5DD!important;
font-size: 14px;
display: block;

} 
 /*-----------About end-----------*/
 
.services{
	width:40%;
	clear:both;
	margin:auto;
	
}

.services h5{
	font-size:20px;
	margin:0px 0px 8px;
	text-transform:uppercase;
	color:#13C5DD;
	text-align:center;
	margin-top:15%;
	margin-left:40%;
	display:inline-block;
	border-width: 2px!important;
border-bottom: 5px solid #dee2e6!important;
}
.services h1{
		font-size:56px;
	margin:0px 0px 8px;
	color:#1D2A4D;
	text-align:center;
}
.service-container{
	padding:5% 5%;
	overflow:auto;
	
	
	
}
.service-box{
	background:#EFF5F9;
	border-top:30px;
	margin-bottom:3%;
	width:28%;
	padding:20px;
	float:left;
	border-radius:12px;
	box-shadow:1px 1px 10px 0px #535353;
	margin-right:3%;
	margin-left:2%;
	
	
	
}
.sicon i{
	background:#13C5DD;
	padding:15%;
	border-radius:72% 28% 70% 30% / 71% 30% 70% 29% ;
	color:white;
	font-size:30px;
	margin-left:30%;
	margin-bottom:5%;
	
	
}
.scontent h4{
	font-size:24px;
	margin:0px 0px 16px;
	color:#1D2A4D;
	text-align:center;
}
.scontent p{
	font-size:16px;
	color:#848E9F;
	text-align:center;
	margin-bottom:9%;
}
